article {
  margin: 20px;
}

.container {
  max-width: 800px;
  min-height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: var(--color-secondary);
  border: var(--color-onyx);
  border-style: solid;
}

.clock {
  width: 8rem;
  height: 8rem;
  position: relative;
  padding: 0.2rem;
  justify-content: center;
  margin: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.outer-clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #282828;
  overflow: hidden;
}

.outer-clock-face::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg)
}

.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background: var(--color-primary);
  z-index: 0;
  left: 49%;
}

.outer-clock-face .marking {
  background: #bdbdcb;
  width: 1.5px;
}

.outer-clock-face .marking.marking-one {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  transform: rotate(150deg)
}

.inner-clock-face {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #282828;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
}

.inner-clock-face::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: -5.5px;
  margin-top: -5px;
  background: #4d4b63;
  z-index: 11;
}

.hand {
  width: 44%;
  right: 50%;
  height: 2px;
  background: #61afff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
  width: 30%;
  z-index: 3;
}

.hand.min-hand {
  height: 2px;
  z-index: 10;
  width: 40%;
}

.hand.second-hand {
  background: var(--color-orange);
  width: 45%;
  height: 1.7px;
}

.city {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;  
  margin-top: -35px;
  text-align: center;
}

.city:hover {
  color: var(--color-orange);
  cursor: pointer;
}

.digital {
  margin-top: 10px;
  text-align: center;
  font-size: 11px;
  color: var(--color-primary);
}