* {
  margin: 0;
}

body {
--color-primary: #5D737E;
--color-secondary: #02111B;
--color-onyx: #3F4045;
--color-raisin: #30292F;
--color-orange: #ee791a;
--color-white: #FCFCFC;

  height: 100vh;
  margin: 0;
  width: auto;
  background-image: url(/resources/world.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font: 500 1rem 'Quicksand', 'Sans-serif';
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  padding: 0 4px;
}

h1 {
  color: var(--color-orange);
}

a {
margin: 20px;
font-size: 16px;
color: var(--color-white);
cursor: pointer;
text-decoration: none;
}

a:hover {
  color: var(--color-orange);
}