<div class="container2">
  <h2>Cities</h2>
  <p>Choose a city below to change the time of the clock on the start page</p>

  <div class="select-box">
    <div class="selectedCity">
      Select a city
    </div>
    <div class="cityList active">
      <div class="option">
        <input type="radio" id="Algiers" name="category">
        <label for="Algiers">Algiers</label>
      </div>

      <div class="option">
        <input type="radio" id="Berlin" name="category">
        <label for="Berlin">Berlin</label>
      </div>

      <div class="option">
        <input type="radio" id="Denver" name="category">
        <label for="Denver">Denver</label>
      </div>

      <div class="option">
        <input type="radio" id="Dubai" name="category">
        <label for="Dubai">Dubai</label>
      </div>

      <div class="option">
        <input type="radio" id="Helsinki" name="category">
        <label for="Helsinki">Helsinki</label>
      </div>

      <div class="option">
        <input type="radio" id="Honolulu" name="category">
        <label for="Honolulu">Honolulu</label>
      </div>

      <div class="option">
        <input type="radio" id="Istanbul" name="category">
        <label for="Istanbul">Istanbul</label>
      </div>

      <div class="option">
        <input type="radio" id="Jakarta" name="category">
        <label for="Jakarta">Jakarta</label>
      </div>

      <div class="option">
        <input type="radio" id="Jerusalem" name="category">
        <label for="Jerusalem">Jerusalem</label>
      </div>

      <div class="option">
        <input type="radio" id="London" name="category">
        <label for="London">London</label>
      </div>

      <div class="option">
        <input type="radio" id="Melbourne" name="category">
        <label for="Melbourne">Melbourne</label>
      </div>

      <div class="option">
        <input type="radio" id="Nairobi" name="category">
        <label for="Nairobi">Nairobi</label>
      </div>

      <div class="option">
        <input type="radio" id="New York" name="category">
        <label for="New York">New York</label>
      </div>

      <div class="option">
        <input type="radio" id="Paris" name="category">
        <label for="Paris">Paris</label>
      </div>

      <div class="option">
        <input type="radio" id="Stockholm" name="category">
        <label for="Stockholm">Stockholm</label>
      </div>

      <div class="option">
        <input type="radio" id="Singapore" name="category">
        <label for="Singapore">Singapore</label>
      </div>

      <div class="option">
        <input type="radio" id="Timbuktu" name="category">
        <label for="Timbuktu">Timbuktu</label>
      </div>

      <div class="option">
        <input type="radio" id="Vienna" name="category">
        <label for="Vienna">Vienna</label>
      </div>

      <div class="option">
        <input type="radio" id="Qatar" name="category">
        <label for="Qatar">Qatar</label>
      </div>

      <div class="option">
        <input type="radio" id="Yukon" name="category">
        <label for="Yukon">Yukon</label>
      </div>

    </div>
  </div>

</div>